html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: black;
  overflow: overlay;
}
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  @media (max-width: 940px) {
    font-size: 17px;
  }
}

.header{
  color: white;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  @media (max-width: 940px) {
    margin-right: 20px;
  }
}

.grid{
  margin-top: 10px;
  margin-bottom: 100px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 950px;
}